.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  

}

.buttom{
    padding: 10px;
    box-shadow: 0 12px 16px 0 rgb(255,255,255),0 17px 50px 0 rgb(255,255,255);
    transition: all 0.3s ease 0s;
    background-color: rgb(0,191,255);
    color: white;
    font-size: 20px;
    padding: 5px 40px;
    border-radius: 5px;
    margin: 10px 0px;
}
.button:hover {
    background-color: rgb(86, 77, 214);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  
  }